{%extends 'main.html'%}

{%block content%}
<link href="/static/dist/css/app.7909e88.css" rel="stylesheet">
{%if tool%}
{%set ico = tool['tool'].replace('_to_','').split('_')[0]%}
<script>var ilx = {'c': 'tool', 'a': "{{ico}}"};</script>
{%endif%}
<style>
    .footer-main{display:none;}
    #uploader a{background-color: aqua;}
</style>


<div class="footer">
    <div class="footer__copy">
        &copy; {{manifest['title']}} 2024 &reg; - Your PDF Editor    </div>
</div>       
<script src="/static/dist/js/app.js" async></script>
<script src="/static/js/plupload/plupload.full.min.js" async></script>
<script src="/static/js/pdfjs/pdf.min.js" async></script>

{%endblock%}